.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  .title {
    font-size: 32 px;
  }
}